.about-columns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    color: white;
    margin: 6vh 0;
}

.about-column {
    text-align: left;
    max-width: 30%;
}


.column-description {
    font-size: 1em;
    line-height: 1.5em;
}

/* Mobile Portrait */
@media (max-width: 768px) {
    .CTA-section {
        display: none;
    }
}

@media (max-width: 1024px) {
    .about-columns{
        justify-content:space-evenly;
    }


}