.master img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-heading {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.details-heading h1 {
    font-size: 68px;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

.details-heading p {
    font-size: 1em;
}

.project-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #000;
    /* Assuming a black background */
    color: #fff;
    /* White text */
}

.column {
    flex: 1;
    margin-right: 40px;
}

.column:last-child {
    margin-right: 0;
}

.column h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.column p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.goodimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.other-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Adjust the number of columns */
    gap: 20px;
    /* Space between the cards */
    margin: 20px 0;
}

.other-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 40vh;
    /* Increase the height of the cards */
}

.other-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the card area */
}

.other-card:hover {
    transform: translateY(-10px);
}

/* SWIPER */

.testimonial-card {
    border-radius: 10px;
    max-width: 280px;
    height: 35vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.testimonial-slide {
    margin-right: 10px !important;
}

@media (max-width: 768px) {
    .testimonial-slide {
        display: flex;
        justify-content: center;
        margin-right: 20px !important;
    }

    .other-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        margin: 0;
    }

    .goodimg {
        padding: 10px;
    }
}

@media (max-width: 480px) {}

/* display: flex;
justify-content: center; */